<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mashupcommrz</title>
    {%load static%}
    <link
      href="https://fonts.googleapis.com/css?family=Righteous"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'customer/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'customer/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'customer/css/style.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row min-vh-100">
        <div class="col-12">
          <header class="row">
            <!-- Top Nav -->
            <div class="col-12 bg-dark py-2 d-md-block d-none">
              <div class="row">
                <div class="col-auto mr-auto">
                  <ul class="top-nav">
                    <li>
                      <a href="tel:+9123-456-7890"
                        ><i class="fa fa-phone-square mr-2"></i
                        >+9123-456-7890</a
                      >
                    </li>
                    <li>
                      <a href="mailto:mail@mashupcommrz.com"
                        ><i class="fa fa-envelope mr-2"></i
                        >mail@mashupcommrz.com</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-auto">
                  <ul class="top-nav">
                    {% if user.is_authenticated %}
                    <li>
                      <a href=""
                        ><i class="fas fa-user-edit mr-2"></i
                        >Hi,{{user.first_name}}</a
                      >
                    </li>
                    <li>
                      <a href="{%url 'logoutcustomer'%}"
                        ><i class="fas fa-sign-out-alt mr-2"></i>Logout</a
                      >
                    </li>
                    {% else %}
                    <li>
                      <a href="{% url 'registercustomer' %}"
                        ><i class="fas fa-user-edit mr-2"></i>Register</a
                      >
                    </li>
                    <li>
                      <a href="{%url 'logincustomer'%}"
                        ><i class="fas fa-sign-in-alt mr-2"></i>Login</a
                      >
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <!-- Top Nav -->

            <!-- Header -->
            <div class="col-12 bg-white pt-4">
              <div class="container">
                <div class="row">
                  <div class="col-lg-auto">
                    <div class="site-logo text-center text-lg-left">
                      <a href="{% url 'products' %}">Mashupcommrz</a>
                    </div>
                  </div>
                  <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                    {% block searchbar %} {% endblock%}
                  </div>
                  <div
                    class="col-lg-auto text-center text-lg-left header-item-holder"
                  >
                    {% if user.is_authenticated %}
                    <a href="{% url 'viewcustomercart' %}" class="header-item">
                      <i class="fas fa-shopping-bag mr-2"></i>Cart
                    </a>
                    {% endif %}
                  </div>
                </div>

                <!-- Nav -->
                <div class="row">
                  <nav
                    class="navbar navbar-expand-lg navbar-light bg-white col-12"
                  >
                    <button
                      class="navbar-toggler d-lg-none border-0"
                      type="button"
                      data-toggle="collapse"
                      data-target="#mainNav"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNav">
                      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'products' %}"
                            >Home <span class="sr-only">(current)</span></a
                          >
                        </li>
                      </ul>
                    </div>
                  </nav>
                </div>
              </div>
              <!-- Nav -->
            </div>
            <!-- Header -->
          </header>
        </div>

        <div class="container">
          <div class="col-12">
            <!-- Main Content -->
            <main class="row">
              {% block maincontent %} {% endblock maincontent %}
              <!-- <div class="col-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-long-arrow-alt-left"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div> -->
            </main>
            <!-- Main Content -->
          </div>
        </div>

        <div class="col-12 align-self-end">
          <!-- Footer -->
          <footer class="row mt-5">
            <div class="col-12 bg-dark text-white pb-3 pt-5">
              <div class="container">
                <div class="row">
                  <div
                    class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3"
                  >
                    <div class="row">
                      <div class="col-12">
                        <div class="footer-logo">
                          <a href="index.html">Mashupcommrz</a>
                        </div>
                      </div>
                      <div class="col-12">
                        <address>
                          221B xyz Street<br />
                          London, England
                        </address>
                      </div>
                      <div class="col-12">
                        <a href="#" class="social-icon"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                        <a href="#" class="social-icon"
                          ><i class="fab fa-twitter"></i
                        ></a>
                        <a href="#" class="social-icon"
                          ><i class="fab fa-pinterest-p"></i
                        ></a>
                        <a href="#" class="social-icon"
                          ><i class="fab fa-instagram"></i
                        ></a>
                        <a href="#" class="social-icon"
                          ><i class="fab fa-youtube"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3 ml-5"
                  >
                    <div class="row">
                      <div class="col-12 text-uppercase">
                        <h4>Who are we?</h4>
                      </div>
                      <div class="col-12 text-justify">
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Nullam imperdiet vel ligula vel sodales. Aenean
                          vel ullamcorper purus, ac pharetra arcu. Nam enim
                          velit, ultricies eu orci nec, aliquam efficitur sem.
                          Quisque in sapien a sem vestibulum volutpat at eu
                          nibh. Suspendisse eget est metus. Maecenas mollis quis
                          nisl ac malesuada. Donec gravida tortor massa, vitae
                          semper leo sagittis a. Donec augue turpis, rutrum
                          vitae augue ut, venenatis auctor nulla. Sed posuere at
                          erat in consequat. Nunc congue justo ut ante sodales,
                          bibendum blandit augue finibus.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          <!-- Footer -->
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="{% static 'customer/js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'customer/js/bootstrap.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'customer/js/script.js' %}"
    ></script>

    {% block scripts %} {% endblock scripts %}
  </body>
</html>
