{% extends "adminpannel/partials/adminpartials.html" %}

{%block nocontainer%}
<section class="">

    <div class="container">
  
      <form class="login-form" action="{%url 'login' %}" method="POST">
          {%csrf_token%}
        <div class="login-wrap">
          <p class="login-img"><i class="icon_lock_alt"></i></p>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon_profile"></i></span>
            {{form.username}}
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
            {{form.password}}
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        </div>
      </form>

      
    </div>
  
  
</section>
{%endblock%}