<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li>
        <a class="" href="">
                      <i class="icon_genius"></i>
                      <span>Products</span>
                  </a>
      </li>
      <li>
        <a class="" href="">
                      <i class="icon_genius"></i>
                      <span>Users</span>
                  </a>
      </li>
      <li>
        <a class="" href="">
                      <i class="icon_genius"></i>
                      <span>Reports</span>
                  </a>
      </li>

    </ul>
    <!-- sidebar menu end-->
  </div>