{% extends "customer/partials/customerpartial.html" %}

{% block searchbar %}
{% include "customer/partials/searchbar.html" %}
{% endblock %}

{% block maincontent %}
<div class="col-12">
    <div class="row">
        <div class="col-12 py-3">
            <div class="row">
                <div class="col-12 text-center text-uppercase">
                    <h2>Our Products</h2>
                </div>
            </div>
            <div class="row">

                {% for product in  products%}
                <!-- Product -->
                <div class="col-md-4">
                    <div class="col-12 bg-white text-center h-100 product-item">
                        <div class="row h-100">
                            <div class="col-12 p-0 mb-3">
                                    <img style="object-fit: cover;" height="250px" width="100%" alt="{{product.product_name}}-img" src="{{product.product_picture.url}}">
                            </div>
                            <div class="col-12 mb-3">
                                <a href="" class="product-name">{{product.product_name}}</a>
                            </div>
                            <div class="col-12 mb-3">
                                <span class="product-price">
                                        {{product.price}}
                                    </span>
                            </div>
                            <div class="col-12 mb-3 align-self-end">
                                {% if user.is_authenticated%}
                                {% if usercart%}
                                {% for item in  usercart%}
                                    {% if item.product == product %}
                                    <a id="cartbtn{{product.id}}" product="{{product.id}}" href="" class="removefromcart btn btn-outline-danger"><i class=" fas fa-times mr-2"></i>Remove from cart</a>
                                    {% else %}
                                    <a id="cartbtn{{product.id}}" product="{{product.id}}" href="" class="addtocart btn btn-outline-dark"><i class="fas fa-cart-plus mr-2"></i>Add to cart</a>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                    <a id="cartbtn{{product.id}}" product="{{product.id}}" href="" class="addtocart btn btn-outline-dark"><i class="fas fa-cart-plus mr-2"></i>Add to cart</a>
                                {% endif %}  
                                {% endif %}   
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product -->
                {% endfor %}

            </div>
        </div>
    </div>
</div>
    
{% endblock maincontent %}

{% block scripts %}
<script type="text/javascript">
    $(document).on('click','.addtocart',function(e){
        e.preventDefault();
        var prod_id = $(this).attr('product');
        $.ajax(
      {
          type: "POST",
          url: "{%url 'addtocart'%}",
          dataType: 'json',
          data: {product:prod_id},
          success: function(data) {
            $('#cartbtn'+prod_id).toggleClass('addtocart removefromcart');
            $('#cartbtn'+prod_id).toggleClass('btn-outline-dark btn-outline-danger');
            $('#cartbtn'+prod_id).html('<i class=" fas fa-times mr-2"></i>Remove from cart');
          },
          error: function() { 
            alert("server error");
          }
      });
    });

    $(document).on('click','.removefromcart',function(e){
        e.preventDefault();
        var prod_id = $(this).attr('product');
        $.ajax(
      {
          type: "POST",
          url: "{%url 'removefromcart'%}",
          dataType: 'json',
          data: {product:prod_id},
          success: function(data) {
            $('#cartbtn'+prod_id).toggleClass('removefromcart addtocart');
            $('#cartbtn'+prod_id).toggleClass('btn-outline-danger btn-outline-dark');
            $('#cartbtn'+prod_id).html('<i class=" fas fa-cart-plus mr-2"></i>Add to cart');
          },
          error: function() { 
            alert("server error");
          }
      });
    });
</script>
{% endblock scripts %}